.main{
    margin-bottom: 100vh;
  }
  
  .container{
    position: relative;
    height: 300vh;
    background-color: rgb(255, 255, 255);
  }
  
  .stickyMask{
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    mask-image: url('/medias/vincent.svg');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 20%;
  }
  
  .stickyMask video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }